<h1> Sinatra Blog </h1>

<h2> Create a new post </h2>

<!-- post "/process_post" -->
<form method="post" action="/process_post">
  <label> Title </label>
  <input type="text" name="post_title">
  <br>

  <label> Text </label>
  <textarea name="post_text"></textarea>
  <br>

  <button type="submit">
    Submit
  </button>
</form>
